.header-text {
    color: #007bff;
}

.form-container {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
    padding: 50px 40px;
    position: relative;
}

.forgot-password {
    position: absolute;
    top: 20px;
    left: 20px;
}
